<%inherit file="sitebase.html" />
<%def name="content()">
<div id="form">
  <form method="post" action="">
    <table>
      <thead></thead>
      <tbody>
	<tr>
	  <th><label for="title">Title</label></th>
	  <td><input type="text" name="title" value=""/></td>
	</tr>
	<tr>
	  <th><label for="body">Body</label></th>
	  <td><textarea name="body" cols=60 rows=14></textarea></td>
	</tr>
	<tr><td><input type="submit" name="submit" value="Post"/></td></tr>
      </tbody>
    </table>
  </form>
</div>
</%def>
